<clr-main-container>
  <clr-header class="header-6">
    <div class="branding">
      <a href="#" [routerLink]="['/home']" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Dolitzer Prize</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active">
        <span class="nav-text">Home</span>
      </a>
      <!-- <a class="nav-link" href="#" [routerLink]="['/history']" routerLinkActive="active">
        <span class="nav-text">역사</span>
      </a> -->
      <a class="nav-link" href="#" [routerLink]="['/gallery']" routerLinkActive="active">
        <span class="nav-text">갤러리</span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/upload']" routerLinkActive="active">
        <span class="nav-text">업로드</span>
      </a>
      <a class="nav-link" href="http://icepeng.com">
        <span class="nav-text">오리엔탈 샐러드</span>
      </a>
    </div>
    <div *ngIf="isLoggedIn$ | async" class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{ (battletag$ | async) }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a clrDropdownItem (click)="myPage()">My Page</a>
          <a clrDropdownItem (click)="logout()">Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div #content class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>